body{
    margin: 0;
    font-family: 'RobotoSlab', sans-serif
}

#main-nav{
    background-color: rgba(0,0,0,0);
    transition: all 0.4s;
}

#main-nav.scrolled{
    background-color: rgba(14,216,214,0.85);
}

.navbar{
    border: none;
}

.navbar-header{
    color: white;
}

.navbar .container a{
    font-family: "Montserrat";
    color: white;
    font-size: 2.3em;
    font-weight: 400;
    font-style: italic;
    transition: all 0.4s;
}

.navbar .container a:hover{
    color: aqua;
}

.navbar .container .collapse a{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    font-style:normal;
    transition: all 0.4s;
}

.navbar .container .collapse a:hover{
    color: aqua;
}

#main-header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/header/pictures_on_the_wall.jpg");
    height: 100vh;
    background-size: cover;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
}

.first{
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    position: absolute;
}

#main-header .first h1{
    padding: 50px;
    font-size: 5em;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}


.first h3{
    font-size: 2em;
    color: white;
    font-family: "DroidSerif"; 
    font-style: italic;
}

#main-header .first button{
    background-color: #0ed8d6;
    font-size: 1.5em;
    padding: 15px;
    font-weight: 600;
    transition: 0.4s;
    outline: 0;
    border: none;
}

#main-header .first button:hover{
    background-color: white;
    color: aqua;
}

#section-services{
    background-color: white;
    height: 100vh;
}

#section-services .div-services{
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}


/*section services*/
#services, .col-md-4{
    padding: 35px;
}
#services .container .row p{
    padding: 35px;
}

#services .fa{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    color: white;
    border: 1px solid #0ed8d6;
    background-color: #0ed8d6;
    font-size: 3em;
    transition: all 0.6s;
}

#services .fa:hover{
    transform: rotate(360deg);
    background-color: white;
    color: #0ed8d6;
}

#services h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 600;
}

#portfolio{
    background-color: whitesmoke;
    padding: 35px;
}

.single-portfolio-item{
    background-color: white;
}

#portfolio h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 600;
}

.porftolio-image{
    height: 300px;
    background-size: cover;
    transition: all 0.6s;
    background-position: center;
}

.portfolio-image-container{
   overflow: hidden;  /*nie pozwalamy żeby coś wyszło za jego ramke*/
}

#portfolio-item-1{
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

#portfolio-item-2{
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#portfolio-item-3{
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio-item-4{
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio-item-5{
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio-item-6{
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}
.porftolio-image:hover{
    transform: scale(1.2);
}

.portfolio-item-mask{
    position: relative;
    height: 100%;
    opacity: 0;
    transition: all 0.6s;
}

.portfolio-item-mask:hover{
    opacity: 1;
    background-color: rgba(14, 216, 214, 0.85);
}


#portfolio .fa{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
}

#team{
    padding: 35px 0 60px 0;
}

#team h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 600;
}

#team h3{
    font-weight: 600;
}

#team p{
    color: #777777;
    font-style: italic;
}

.team-image img{
    width: 70%;
    border-radius: 50%;
}

.team-icons i{
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: white;
    background-color: black;
    font-size: 2em;
    transition: all 0.4s;
    cursor: pointer;
    
}

.team-icons i:hover{
    background-color: #0ed8d6;
    
}

.team-p-padding{
    padding: 0 100px 10px 100px;
}

/* Sekcja CONTACT start */

#contact{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/footer/world-map.jpg");
}

#contact h2{
    padding: 100px 0 0 0;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 600; 
    color: white;
}

#contact p{
    color: white;
    font-style: italic;
}

#contact #name,#e-mail,#phone,#text-massage, #contact-submit{
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 20px;
    border-radius: 6px;
    border: none;
    outline: 0;
}
#contact ::placeholder{
    color: rgba(119, 119, 119, 0.5);
}



#contact #text-massage{
    border: 0 100%;
}


#contact-submit{
    margin-top: 20px;
    width: 200px;
    font-size: 1.3em;
    background-color: #0ed8d6;
    color: white;
    margin-bottom: 100px;
}


/*footer*/

#main-footer{
    padding: 10px 0;
}

#mian-footer nav,
#main-footer .copyrights{
    line-height: 50px;
    margin: 0;
}

#main-footer .social-icons{
    text-align: center;
}

#main-footer nav ul li{
    display: inline-block;
    margin-right: 10px;
}

#main-footer nav ul li a{
    color: #777;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.4s;
}

#main-footer nav ul li a:hover{
    color: #0ed8d6;
}


przygotuj plik responsive.css, a w nim:
-do 768:
zmien kolor tla dla #main-nav i #main-nav.scrolled na biały.
zmien kolory linkow w navie na #0ed8d6, na #777.
linki przyklej do prawej strony ul.
zmien kolor BELEK BURGERA (.icon-bar) na #0ed8d6.
w sekcji contact odsun marginesem poszczegolne kolumny( margin-bootom) footer - wszystko w text-align
:center, zmniejsz padddingi na ul li.

-do 480:
zmien font-size dla h1, h2/h3 w header.

